@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto+Mono);
.code {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.layout-container > header {
  height: 5vh;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  background: white;
}
.layout-container > header > a {
  color: #263944;
  margin: 0 15px;
}
.layout-container > header > a.adapt {
  display: flex;
  align-items: center;
}

.navigation {
  width: 300px;
  background: #263944;
  padding: 0 10px 40px 10px;
  height: 95vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.navigation .nav-dir-path,
body.manual-root .navigation .manual-toc [class^="indent-h1"] a {
  font-size: 110%;
  color: #34bee0;
  font-weight: normal;
  margin-bottom: 0.5em;
  padding: 10px 0 0 5px;
}
.navigation li a {
  color: white;
  font-weight: lighter;
}
.navigation li span[data-ice="kind"] {
  margin-left: 1.5em;
  margin-right: 0.4em;
  background: none;
  border-width: 1px;
  border-style: solid;
}
.navigation li span.kind-class {
  color: #00dd95;
  border-color: #00dd95;
}
.navigation li span.kind-variable {
  color: #34bee0;
  border-color: #34bee0;
}
.navigation li span.kind-typedef {
  color: #ff5567;
  border-color: #ff5567;
}
.navigation li span.kind-interface {
  color: #ffa08d;
  border-color: #ffa08d;
}

.content {
  margin-left: 300px;
  padding: 30px 60px;
}
.content .github-markdown h1,
.content .github-markdown h2,
.content .github-markdown h3,
.content .github-markdown h4,
.content .github-markdown h5 {
  font-weight: 300;
}
.content .github-markdown h1 {
  font-size: 2.25em;
}

.content .github-markdown img {
  box-shadow: none;
  display: block;
  margin: 0 auto;
}

.content .github-markdown .attribute {
  margin-bottom: 15px;
}
.content .github-markdown .attribute .title {
  margin-bottom: 5px;
}
.content .github-markdown .attribute .title > span {
  font-weight: bold;
}
.content .github-markdown .attribute .item {
  margin-left: 10px;
  margin-bottom: 3px;
}
.content .github-markdown .attribute .item.small {
  font-size: 95%;
}
.content .github-markdown .attribute .item > pre {
  display: inline;
  white-space: pre-wrap;
}

.inherited-summary thead a {
  color: black;
}

/**
* Hide some stuff we don't want
*/
.identifier-dir-tree,
table.summary > tbody > tr > td:first-child,
.detail span.access {
  display: none;
}

/**
* Manual stuff
*/
body.manual-root .navigation {
  padding: 20px 10px 40px 10px;
  height: 100%;
  margin-top: 5vh;
  overflow-x: auto;
  overflow-y: auto;
}
body.manual-root .navigation .manual-toc [class^="indent-h"] a { color: white; }
body.manual-root .navigation .manual-toc [class^="indent-h1"] a { color: #34bee0; }

pre > code {
  padding: 20px;
  border: 1px solid #e2e2e2;
  white-space: pre-wrap;
}

table {
  width: 100%;
}

footer {
  border: none;
  margin: 0;
  padding: 30px;
  padding-bottom: 60px;
  background: #36cde8;
  color: white;
  font-style: normal;
  font-weight: bold;
}

footer .left {
  float: left;
}
footer .right {
  float: right;
}

footer a {
  color: white;
  text-decoration: underline;
}
