@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto+Mono);

.colours {
  color: #34bee0;
  color: #00dd95;
  color: #263944;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding-left: 0;
  padding-right: 0;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

section.cover {
  background: linear-gradient(to left bottom, #00dd95 0%,#34bee0 100%) !important;
  color: white;
}
section.cover h2 {
  font-size: 70px;
}
section.cover .anchor span {
  color: white;
}
section.cover .cover-main > p:last-child a,
section.cover .cover-main > p:last-child a:last-child {
  color: white;
  border-color: white;
  background: transparent;
}
section.cover .cover-main > p:last-child a:hover,
  section.cover .cover-main > p:last-child a:last-child:hover {
  background: white;
  color: #34bee0;
}
/* section.cover .cover-main > p:last-child a { */

.sidebar {
  margin-left: 25px;
  /* 
  background: #263944;
  color: white; 
  */
  font-weight: bold;
}
.sidebar ul li a {
  /* color: #b7b7b7; */
  font-weight: normal;
}
.sidebar .app-name-link {
  font-weight: bold;
  font-size: 18px;
  /* color: white; */
}
.sidebar .app-name {
  margin-bottom: 25px;
}

.markdown-section code {
  color: #00dd95;
}