@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto+Mono);

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding-left: 0;
  padding-right: 0;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

i.material-icons {
  top: 5px;
  position: relative;
}

section.cover {
  background: linear-gradient(to left bottom, #00dd95 0%,#34bee0 100%) !important;
  color: white;
}
section.cover h2 {
  font-size: 70px;
}
section.cover .anchor span {
  color: white;
}
section.cover .cover-main > p:last-child a,
section.cover .cover-main > p:last-child a:last-child {
  color: white;
  border-color: white;
  background: transparent;
}
section.cover .cover-main > p:last-child a:hover,
  section.cover .cover-main > p:last-child a:last-child:hover {
  background: white;
  color: #34bee0;
}

.sidebar {
  margin-left: 25px;
  font-weight: bold;
}
.sidebar ul li a {
  font-weight: normal;
}
.sidebar ul.header {
  padding-top: 25px;
  padding-top: 10px;
  font-size: 17px;
}
.sidebar .app-name-link {
  font-weight: bold;
  font-size: 18px;
}
.sidebar .app-name {
  margin-bottom: 25px;
}
.sidebar .app-name img {
  width: 100px;
}

.markdown-section code,
.token.boolean, 
.token.function, 
.token.keyword,
.token.number {
  color: #00dd95;
}

.markdown-section blockquote {
  background: #e7fdf6;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  border-top: 1px solid #92f2d3;
  border-right: 1px solid #92f2d3;
  border-bottom: 1px solid #92f2d3;
  border-radius: 0 5px 5px 0;
  border-left-color: #00dd95;
}